<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
   
</body>
</html>
@section scripts{
    <script>
        var login = new Vue({
            el: '#login',
            data: {
                username: null,
                password: null,
            },
            methods: {
                login: function () {
                    self = this;
                    $.ajax({
                        url: "/token",
                        method: 'POST',
                        contentType: "application/json",
                        data: {
                            username: self.username,
                            password: self.password,
                            grant_type: "password"
                        },
                        success: function (res) {
                            localStorage.setItem("accessToken", res.access_token);
                            //var headers = {};
                            //headers.Authorization = 'Bearer ' + res.access_token;
                            //fetch("/admin/home", {
                            //    headers: headers
                            //})
                            window.location.pathname = "/Admin/Home";

                            
                        },
                        error: function (res) {
                            console.log(JSON.stringify(res));
                        }
                    })
                }
            }
        });
</script>}